<div class="form-container">
  <h2>Fill the form:</h2>
  <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="name" formControlName="name" />
    </div>

    <div class="form-group">
      <label>Surname</label>
      <input class="form-control" name="surname" formControlName="surname" />
    </div>

    <div class="form-group">
      <label>Email</label>
      <input class="form-control" name="email" formControlName="email" />
    </div>

    <div class="form-group">
      <label>Phone number</label>
      <input class="form-control" name="phone" formControlName="phone" />
    </div>

    <div class="form-group">
      <button class="btn btn-default" [disabled]="myForm.invalid">
        Submit data
      </button>
    </div>
  </form>

  <button class="btn btn-default" (click)="btnClick();">
    See all data
  </button>
</div>
