.form-container {
  margin: 0 auto;
  width: 500px;
  font-size: 16px;

  .form-group {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    .form-control {
      width: 300px;
    }

    select.form-control {
      width: 308px;
      height: 21.33px;
    }
  }

  button {
    font-size: 16px;
  }
}
